{deps, [
	{meck,"0.*", {git, "git://github.com/eproxus/meck", {branch, "master"}}},
	{poolboy, "0.8.1", {git, "https://github.com/basho/poolboy.git", "31fef55cdd"}},
	{riakc, "1.3.1", {git, "https://github.com/basho/riak-erlang-client.git", "49cdb096db"}},
	{mavg, "1.0.*", {git, "https://github.com/EchoTeam/mavg.git", {tag, "v1.0.1"}}}
]}.

{post_hooks, [
    {clean, "rm -f ./test/*.beam"},
    {clean, "rm -rf ./logs"}
]}.
